<%= form_for(@firearm) do |f| %>
  <% if @firearm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@firearm.errors.count, "error") %> prohibited this firearm from being saved:</h2>

      <ul>
      <% @firearm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
