<p id="notice"><%= notice %></p>

<p>
  <b>Numberstolen:</b>
  <%= @cattletheft.numberstolen %>
</p>

<p>
  <b>Date reported:</b>
  <%= @cattletheft.date_reported %>
</p>

<p>
  <b>Location:</b>
  <%= @cattletheft.location %>
</p>


<%= link_to 'Edit', edit_cattletheft_path(@cattletheft) %> |
<%= link_to 'Back', cattlethefts_path %>
