<%= form_for(@locationreport) do |f| %>
  <% if @locationreport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@locationreport.errors.count, "error") %> prohibited this locationreport from being saved:</h2>

      <ul>
      <% @locationreport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %><br />
    <%= f.text_field :index %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
